html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body    
    block header 
      .topnav
        span ERP Restauracja
        a(href="http://localhost:3000/chef") Panel szefa kuchni
        a(href="/", class='log') Wyloguj
    block content