extends chefLayout

block content 
  .login-div
    h1.admin Panel szefa kuchni 
    .sec-div
      a.button(href="/chef/allTasks") Wyświetl zadania
      a.button(href="/chef/createTask") Stwórz zadanie
      a.button(href="/chef/allProducts") Wyświetl produkty
    p.admin



