extends  bossLayout


block content 
  .login-div
    .inner 
        h2 Wszystkie produkty
        table#customers
          tr 
            th Id
            th Produkt
            th Ilość
          each product in products
            tr 
              td 
                a(href=`singleProduct/${product.id}`) #{product.id}
              td #{product.name}
              td #{product.quantity}
