extends  bossLayout

block content 
  .login-div
    h1.admin Panel szefa magazynu
    .sec-div
      a.button(href="/boss/allProducts") Wyświetl produkty
      a.button(href="/boss/createProduct") Stwórz produkt
      a.button(href="/boss/allDelivery") Wyświetl dostawy
      a.button(href="/boss/createDelivery") Stwórz dostawę
    .sec-div
      a.button(href="/boss/allTasks") Wyświetl zadania
      a.button(href="/boss/createTask") Stwórz zadanie
    p.admin


