html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body    
    block header 
      .topnav
        span ERP Restauracja
        a(href="http://localhost:3000/admin") Panel administratora
        a(href="http://localhost:3000/signout", class='log') Wyloguj
    block content