extends  adminLayout

block content 
  .login-div
    h1.admin Panel administratora 
    .sec-div
      a.button(href="/admin/createUser") Dodaj użytkownika
      a.button(href="/admin/allUsers") Wszyscy użytkownicy
      a.button(href="/admin/allTasks") Wyświetl zadania
      a.button(href="/admin/createTask") Stwórz zadanie
    .sec-div
      a.button(href="/admin/allProducts") Wyświetl produkty
      a.button(href="/admin/createProduct") Stwórz produkt
      a.button(href="/admin/allDelivery") Wyświetl dostawy
      a.button(href="/admin/createDelivery") Stwórz dostawę
    p.admin


